{% extends 'base.html' %}
{% load thumbnail %}
{% load el_pagination_tags %}


{% block content %}
<style>
.person-boxed .person-title a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
</style>

<section class="section breadcrumb-section">
    <div class="container">
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Recursos</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery-->
<section class="section-md bg-transparent text-center biblioteca">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-md-6 col-lg-8">

                <h2 class="mt-0">Biblioteca de recursos</h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget">
                    <div class="widget-body">
                        <form class="rd-form rd-form-boxed rd-form-boxed-1" action="search-results.html"
                            method="GET" data-rd-search>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Buscar" autocomplete="off"
                                    name="s">
                            </div>
                            <button class="rd-form-boxed-btn custom-font-search"></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        {% comment %} <div class="row row-30 justify-content-center">
            <ul class="list filter">
                <li class="active"><a class="btn btn-primary" href="{% url 'lista-biblioteca' %}">Todos</a></li>
                {% for obj in paises %}
                <li><a class="btn btn-primary" href="{% url 'filtro-biblioteca' obj.0 %}">{{obj.1}}</a></li>
                {% endfor %}
            </ul>
        </div> {% endcomment %}
        <div class="row no-gutters justify-content-center" data-lightgallery>
            {% paginate 12 objects_list %}
            {% for obj in objects_list %}
            <div class="col-6 col-xs-5 col-md-3">
                <!-- Thumbnail gallery-->
                <div class="person person-boxed mb-4 ">
                    <div class="person-media">
                        {% thumbnail obj.foto "595x842" crop="center" as im %}
                        <img class="person-img" src="{{im.url}}" alt=""/>
                        {% endthumbnail %}
                    </div>
                    <div class="person-body">
                        <div class="person-title h6">
                            <a data-fancybox data-src="#detalle_{{obj.id}}" href="javascript:;">
                                {{obj.nombre}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Descripcion-->
            <div style="display: none;" id="detalle_{{obj.id}}">
                <section class="bg-transparent text-center text-md-left">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-lg-8 bg-primary context-dark spacing-box">
                                <h5 class="line-bottom">{{obj.tipo}} / {{obj.fecha|date:'Y'}}</h5>
                                <h4>{{obj.nombre}}</h4>
                                <p class="big">{{obj.descripcion|safe}}</p>

                                <a class="btn btn-outline" href="/media/{{obj.archivo}}" target="_blank">Descargar</a>
                            </div>
                            <div class="col-md-6 col-lg-4 bg-image p-0" >
                                {% thumbnail obj.foto "595x842" crop="center" as im %}
                                <img class="person-img" src="{{im.url}}" alt=""/ width="100%">
                                {% endthumbnail %}
                            </div>

                        </div>
                    </div>
                </section>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="container">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination text-center d-flex justify-content-center">
                        {% show_pages %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>




{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
{% endblock extra_css %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
{% endblock extra_js %}
