{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
<section class="section breadcrumb-section">
    <div class="container">
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'lista-cursos' %}">Aprende</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Curso</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Curso-->
<section class="section-md bg-transparent curso" >
    <div class="container">
        <div class="text-block">
            <h3>{{object.titulo}}</h3>
        </div>
        <div class="row row-30">
            <div class="col-md-9"> 
                <div class="post">
                    <div class="post-title h4 mb-2 text-primary">Introducción del curso</div>
                    <hr>
                    <div class="post-text">
                        {{object.descripcion|safe}}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-title h4">Tabla de Contenido</div>
            
                <div class="panel-group">
                    <div class="panel intro">
                        <div class="panel-collapse">
                            <div class="panel-content p-0">
                                <div class="list-group mb-0 ">
                                    <a class="list-group-item active" href="#home" aria-controls="home" role="tab" data-toggle="tab">Introducción</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel mi-movil-1">
                        <div class="panel-title "> 
                            <a data-parent="#accordion1" data-toggle="collapse" href="#accordion11" class="collapsed d-flex" aria-expanded="false"> 
                                Mi Móvil <span class="fa fa-chevron-up badge ml-auto"></span>
                            </a>
                        </div>
                        <div id="accordion11" class="panel-collapse collapse" role="tablist" aria-expanded="false" style="height: 0px;">
                            <div class="panel-content p-0">
                                <div class="list-group mb-0">
                                
                                    <a href="#section-l1-el-dispositivo-movil-1" class="list-group-item scroll-to" aria-controls="section-l1-el-dispositivo-movil-1" role="tab" data-toggle="tab">
                                        L1- El dispositivo móvil
                                    </a>
                                
                                    <a href="#section-l2-aplicaciones-del-movil-2" class="list-group-item scroll-to" aria-controls="section-l2-aplicaciones-del-movil-2" role="tab" data-toggle="tab">
                                        L2- Aplicaciones del móvil
                                    </a>
                                
                                    <a href="#section-l3-su-interfaz-3" class="list-group-item scroll-to" aria-controls="section-l3-su-interfaz-3" role="tab" data-toggle="tab">
                                        L3- Su Interfaz
                                    </a>
                                
                                    <a href="#section-l4-llamar-a-un-contacto-4" class="list-group-item scroll-to" aria-controls="section-l4-llamar-a-un-contacto-4" role="tab" data-toggle="tab">
                                        L4- Llamar a un contacto
                                    </a>
                                
                                    <a href="#section-l5-agregar-contacto-5" class="list-group-item scroll-to" aria-controls="section-l5-agregar-contacto-5" role="tab" data-toggle="tab">
                                        L5- Agregar Contacto
                                    </a>
                                
                                    <a href="#section-l6-mensajes-de-textos-6" class="list-group-item scroll-to" aria-controls="section-l6-mensajes-de-textos-6" role="tab" data-toggle="tab">
                                        L6- Mensajes de textos
                                    </a>
                                
                                    <a href="#section-l7-eliminar-aplicaciones-7" class="list-group-item scroll-to" aria-controls="section-l7-eliminar-aplicaciones-7" role="tab" data-toggle="tab">
                                        L7- Eliminar Aplicaciones
                                    </a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel internet-2">
                        <div class="panel-title "> 
                            <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="collapsed d-flex" aria-expanded="false">
                                Internet<span class="fa fa-chevron-up badge ml-auto"></span>
                            </a>
                        </div>
                        <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="false" style="height: 0px;">
                        <div class="panel-content p-0">
                            <div class="list-group mb-0">
                            
                                <a href="#section-l8-internet-1" class="list-group-item scroll-to" aria-controls="section-l8-internet-1" role="tab" data-toggle="tab">
                                    L8- Internet
                                </a>
                            
                                <a href="#section-l9-usos-de-internet-2" class="list-group-item scroll-to" aria-controls="section-l9-usos-de-internet-2" role="tab" data-toggle="tab">
                                    L9- Usos de Internet
                                </a>
                            
                                <a href="#section-l10-la-web-3" class="list-group-item scroll-to" aria-controls="section-l10-la-web-3" role="tab" data-toggle="tab">
                                    L10- La Web
                                </a>
                            
                                <a href="#section-l11-que-es-google-4" class="list-group-item scroll-to" aria-controls="section-l11-que-es-google-4" role="tab" data-toggle="tab">
                                    L11- ¿Qué es Google?
                                </a>
                            
                                <a href="#section-l12-busqueda-en-google-5" class="list-group-item scroll-to" aria-controls="section-l12-busqueda-en-google-5" role="tab" data-toggle="tab">
                                    L12- Búsqueda en  Google
                                </a>
                            
                                <a href="#section-l13-cuenta-de-correo-en-gmail-6" class="list-group-item scroll-to" aria-controls="section-l13-cuenta-de-correo-en-gmail-6" role="tab" data-toggle="tab">
                                    L13- Cuenta de correo en Gmail
                                </a>
                            
                                <a href="#section-l14-conectarse-a-la-web-7" class="list-group-item scroll-to" aria-controls="section-l14-conectarse-a-la-web-7" role="tab" data-toggle="tab">
                                    L14- Conectarse a la Web
                                </a>
                            
                                <a href="#section-l15-conexion-a-una-red-wifi-8" class="list-group-item scroll-to" aria-controls="section-l15-conexion-a-una-red-wifi-8" role="tab" data-toggle="tab">
                                    L15- Conexión a una red Wifi
                                </a>
                            
                            </div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="panel redes-sociales-3">
                        <div class="panel-title "> 
                            <a data-parent="#accordion1" data-toggle="collapse" href="#accordion13" class="collapsed d-flex" aria-expanded="false">
                                Redes Sociales <span class="fa fa-chevron-up badge ml-auto"></span>
                            </a>
                        </div>
                        <div id="accordion13" class="panel-collapse collapse" role="tablist" aria-expanded="false">
                            <div class="panel-content p-0">
                                <div class="list-group mb-0">
                                
                                    <a href="#section-l16-whatsapp-1" class="list-group-item scroll-to" aria-controls="section-l16-whatsapp-1" role="tab" data-toggle="tab">
                                        L16- WhatsApp
                                    </a>
                                
                                    <a href="#section-l17-interfaz-de-whatsapp-2" class="list-group-item scroll-to" aria-controls="section-l17-interfaz-de-whatsapp-2" role="tab" data-toggle="tab">
                                        L17- Interfaz de  WhatsApp
                                    </a>
                                
                                    <a href="#section-l18-enviar-mensajes-3" class="list-group-item scroll-to" aria-controls="section-l18-enviar-mensajes-3" role="tab" data-toggle="tab">
                                        L18- Enviar Mensajes
                                    </a>
                                
                                    <a href="#section-l19-enviar-fotos-y-videos-4" class="list-group-item scroll-to" aria-controls="section-l19-enviar-fotos-y-videos-4" role="tab" data-toggle="tab">
                                        L19- Enviar fotos y vídeos
                                    </a>
                                
                                    <a href="#section-l20-mensajes-de-voz-5" class="list-group-item scroll-to" aria-controls="section-l20-mensajes-de-voz-5" role="tab" data-toggle="tab">
                                        L20- Mensajes de Voz
                                    </a>
                                
                                    <a href="#section-l21-grupo-en-whatsapp-6" class="list-group-item scroll-to" aria-controls="section-l21-grupo-en-whatsapp-6" role="tab" data-toggle="tab">
                                        L21- Grupo en WhatsApp
                                    </a>
                                
                                    <a href="#section-l22-facebook-7" class="list-group-item scroll-to" aria-controls="section-l22-facebook-7" role="tab" data-toggle="tab">
                                        L22-  Facebook
                                    </a>
                                
                                    <a href="#section-l23-perfil-en-facebook-8" class="list-group-item scroll-to" aria-controls="section-l23-perfil-en-facebook-8" role="tab" data-toggle="tab">
                                        L23- Perfil en Facebook
                                    </a>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination text-center d-flex justify-content-center">
                        <li class="page-item ">
                            <a class="page-link" href="#">
                                Empezar Curso <i class="fa fa-play"></i>
                            </a>
                        </li>
                        
                        <!-- <li class="page-item">
                            <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                        </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock content %}