{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}
{% block extra_css %}

{% endblock extra_css %}
{% block content %}
<section class="section breadcrumb-section">
    <div class="container">
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Formación</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery-->
<section class="section-md bg-transparent text-center aprende">
    <div class="container">
        {% comment %} <h3>Titulo de Formación</h3> {% endcomment %}

        <div class="row justify-content-center">
            
        </div>
        <div class="row justify-content-start">
            <div class="col-6 col-xs-12 col-md-6 col-lg-4 reflexion">
                <div class="owl-carousel " data-owl="{&quot;dots&quot;:true}" data-loop="false" data-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1">
                    {% for obj in reflexiones %}
                    <div class="bg-primary context-dark spacing-box ">
                        <i class="fa fa-quote-right"></i>
                        <!-- <h4>Reflexion</h4> -->
                        <p class="big">
                            {{obj.texto}}
                        </p>
                        {% if obj.link %}
                        <a class="btn btn-outline" href="{{obj.link}}">Leer más</a>
                        {% endif %}
                    </div>                  
                
                    {% endfor %}
                    
                </div>
                
            </div>
            {% paginate 5 objects_list %}
            {% for obj in objects_list %}
            <div class="col-6 col-xs-12 col-md-6 col-lg-4">
                <!-- Thumbnail gallery-->
                <a href="{% if obj.modulos_set.all %}{% url 'detalle-curso' obj.slug %}{% endif %}">
                    <div class="person person-boxed mb-4">
                        <div class="person-media">
                            {% thumbnail obj.imagen "600x400" crop="center" as im %}
                            <img class="person-img" src="{{im.url}}" alt="" />
                            {% empty %}
                            <img class="person-img" src="http://placehold.it/600x400" alt=""/>
                            {% endthumbnail %}
                        </div>
                        <div class="person-body">
                            <div class="person-title h6 text-limit">{{obj.titulo}}</div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}       
        </div>

        <div class="row">
            <div class="container">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination text-center d-flex justify-content-center">
                        {% show_pages %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}
