{% extends "base.html" %}
{% load thumbnail %}
{% load el_pagination_tags %}

{% block content %}
<section class="section breadcrumb-section">
    <div class="container">
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Eventos</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Evento -->
<section class="section-md bg-transparent noticias">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-md-6 col-lg-8">

                <h2 class="mt-0">Eventos Recientes</h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget">
                    <div class="widget-body">
                        <form class="rd-form rd-form-boxed rd-form-boxed-1" action="{% url 'search-evento' %}"
                            method="GET" data-rd-search>
                            <div class="form-group">
                                {{form.q}}
                            </div>
                            <button class="rd-form-boxed-btn custom-font-search"></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div class="row row-30 justify-content-center">
            {% for result in page.object_list %}
            <div class="col-xs-9 col-sm-6 col-md-4">
                <!-- Post-->
                <div class="post post-event" data-animate='{"class":"fadeInUp"}'>
                    <a class="post-media" href="{% url 'detalle-evento' result.object.slug %}">
                        {% thumbnail result.object.foto "600x400" crop="center" as im %}
                        <img class="post-img" src="{{im.url}}" alt="" />
                        {% endthumbnail %}

                        <div class="post-date">
                        <div class="post-day">{{result.object.inicio|date:'d'}}</div>
                        <div class="post-month">{{result.object.inicio|date:'M'}}</div>
                        </div>
                    </a>
                    <div class="post-heading h5">
                        <div class="post-title">
                            <a href="{% url 'detalle-evento' result.object.slug %}" class="text-limit">
                                {{result.object.titulo|truncatechars:80}}
                            </a>
                        </div>

                    </div>
                    <div class="post-meta post-meta-vertical big">
                        <div class="post-meta-item">
                        <div class="post-meta-icon custom-font-clock"></div>
                        <div class="post-time">{{result.object.hora_inicio|time:'h:i a'}} - {{result.object.hora_fin|time:'h:i a'}}</div>
                        </div>
                        <div class="post-meta-item">
                        <div class="post-meta-icon custom-font-pin"></div>
                        <div class="post-location">{{result.object.lugar}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>No se encontraron resultados</p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="container">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination text-center d-flex justify-content-center">
                      {% if page.has_previous or page.has_next %}

                       {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="endless_page_link">{% endif %}{% if page.has_previous %}< </a>{% endif %}
                       <span class="endless_page_current">{{ page.number }} de {{ page.paginator.num_pages }}</span>

                       {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="endless_page_link">{% endif %} {% if page.has_next %}> </a>{% endif %}

                       {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extra_css %}
<style>
.endless_page_current, .endless_page_link {
    height: 40px;
    width: 40px;
    margin: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    background: #42495b;
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    margin-left: -2px;
    line-height: 38px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.endless_page_current {
    background: #4F002B;
    border-color: #4F002B;
    width: auto !important;
}
</style>
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript">
  $("#id_q").addClass("form-control");
  $("#id_q").attr( "placeholder", "Buscar" );
</script>
{% endblock extra_js %}
