{% extends 'base.html' %}
{% load thumbnail %}
{% load el_pagination_tags %}


{% block content %}
<style>
.person-boxed .person-title a{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
</style>

<section class="section breadcrumb-section">
    <div class="container">
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Recursos</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery-->
<section class="section-md bg-transparent text-center biblioteca">
    <div class="container">
        <div class="row row-30 justify-content-center">
            <div class="col-md-6 col-lg-8">

                <h2 class="mt-0">Biblioteca de recursos</h2>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget">
                    <div class="widget-body">
                        <form class="rd-form rd-form-boxed rd-form-boxed-1" action="{% url 'search-biblioteca' %}"
                            method="GET" data-rd-search>
                            <div class="form-group">
                                {{form.q}}
                            </div>
                            <button class="rd-form-boxed-btn custom-font-search"></button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row row-30 justify-content-center">
            <h5 class="text-gris">Aquí puedes encontrar y descargar documentos e informes relacionados con nuestro trabajo.</h5>
        </div>

        <div class="row no-gutters justify-content-center" data-lightgallery>
            {% for result in page.object_list %}
            <div class="col-6 col-xs-5 col-md-3">
                <!-- Thumbnail gallery-->
                <div class="person person-boxed mb-4 ">
                    <div class="person-media">
                        {% thumbnail result.object.foto "595x842" crop="center" as im %}
                        <img class="person-img" src="{{im.url}}" alt=""/>
                        {% endthumbnail %}
                    </div>
                    <div class="person-body">
                        <div class="person-title h6">
                            <a data-fancybox data-src="#detalle_{{result.object.id}}" href="javascript:;">
                                {{result.object.nombre}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!--Descripcion-->
            <div style="display: none;" id="detalle_{{result.object.id}}">
                <section class="bg-transparent text-center text-md-left">

                    <div class="container">
                        <div class="row">

                            <div class="col-md-6 col-lg-8 bg-primary context-dark spacing-box">
                                <h5 class="line-bottom">{{result.object.tipo}} / {{result.object.fecha|date:'Y'}}</h5>
                                <h4>{{result.object.nombre}}</h4>
                                <p class="big">{{result.object.descripcion|safe}}</p>

                                <a class="btn btn-outline" href="/media/{{result.object.archivo}}" target="_blank">Descargar</a>
                            </div>
                            <div class="col-md-6 col-lg-4 bg-image p-0" >
                                {% thumbnail result.object.foto "595x842" crop="center" as im %}
                                <img class="person-img" src="{{im.url}}" alt=""/ width="100%">
                                {% endthumbnail %}
                            </div>

                        </div>
                    </div>
                </section>
            </div>
            {% empty %}
                <p>No se encontraron resultados</p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="container">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination text-center d-flex justify-content-center">
                      {% if page.has_previous or page.has_next %}

                       {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}" class="endless_page_link">{% endif %}{% if page.has_previous %}< </a>{% endif %}
                       <span class="endless_page_current">{{ page.number }} de {{ page.paginator.num_pages }}</span>

                       {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}" class="endless_page_link">{% endif %} {% if page.has_next %}> </a>{% endif %}

                       {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>




{% endblock content %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
<style media="screen">
  .endless_page_current {
    width: auto !important;
}
</style>
{% endblock extra_css %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script type="text/javascript">
      $("#id_q").addClass("form-control");
      $("#id_q").attr( "placeholder", "Buscar" );
    </script>

{% endblock extra_js %}
