{% extends "base.html" %}
{% block extra_css %}
{% endblock extra_css %}
{% load solo_tags %}

{% block content %}
<style>
    #global-error{
        display: none;
    }
</style>

<section class="section breadcrumb-section">
    <div class="container">
      <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Contáctenos</span></div>
            </div>
        </div>
    </div>
</section>


<section class="section-md bg-transparent">
    <div class="container">
        <div class="text-block text-block-1 text-center">
            <h5 class="text-primary">Ponerse en contacto</h5>
            <h2>Escríbenos</h2>
        </div>
        <div class="row row-30">
            <div class="col-md-8">
                <form class="rd-form rd-mailform" method="POST">{% csrf_token %}
                    <div class="row row-20">
                      {% if messages %}
                      <div class="col-md-12">
                        Mensaje enviado
                      </div>
                      {% endif %}

                      {% if form.errors %}
                      <div class="col-md-12">
                        {{form.errors}}
                      </div>
                      {% endif %}
                        <div class="col-md-6">
                        <div class="form-group">
                            {# <input class="form-control" type="text" name="name" placeholder="Nombre*" data-constraints="@Required"> #}
                            {{form.nombre}}
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            {# <input class="form-control" type="email" name="email" placeholder="Correo*" data-constraints="@Email @Required"> #}
                            {{form.correo}}
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            {# <input class="form-control" type="text" name="phone" placeholder="Teléfono*" data-constraints="@Numeric @Required"> #}
                            {{form.telefono}}
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group">
                            {# <input class="form-control" type="text" name="subject" placeholder="Asunto"> #}
                            {{form.asunto}}
                        </div>
                        </div>
                        <div class="col-12">
                        <div class="form-group">
                            {# <textarea class="form-control" name="textarea" placeholder="Mensaje"></textarea> #}
                            {{form.mensaje}}
                        </div>
                        </div>
                    </div>
                    <div class="rd-form-btn text-left">
                        <button class="btn btn-primary" type="submit">Enviar Correo</button>
                    </div>
                </form>

            </div>
            <div class="col-md-4">
                {% get_solo 'configuracion.Contectenos' as contacto %}
                <h5 class="text-primary">Antes de contactarnos</h5>
                <p>{{contacto.antes_de_contactarnos}}</p>
                <h5 class="text-primary">Información del contacto</h5>
                <ul class="list list-icons">
                <li class="list-item">
                    <div class="list-icon custom-font-pin"></div><a class="link link-inherit" href="#">
                        {{contacto.direccion}}
                    </a>
                </li>
                <li class="list-item">
                    <div class="list-icon custom-font-email"></div><a class="link link-inherit"href="mailto:{{contacto.correo}}">
                        {{contacto.correo}}
                    </a>
                </li>
                <li class="list-item">
                    <div class="list-icon custom-font-phone"></div><span><span>Llámanos : </span><a class="link link-inherit" href="tel:{{contacto.telefono}}">{{contacto.telefono}}</a></span>
                </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}



{% block extra_js %}

<script>
    $('#global-error').hide();
    $('#id_nombre').addClass('form-control').attr("placeholder", "Nombre*");
    $('#id_correo').addClass('form-control').attr("placeholder", "Correo*");
    $('#id_telefono').addClass('form-control').attr("placeholder", "Teléfono*");
    $('#id_asunto').addClass('form-control').attr("placeholder", "Asunto*");
    $('#id_mensaje').addClass('form-control').attr("placeholder", "Mensaje");
</script>
{% endblock extra_js %}
