<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Escuela de Liderazgo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta property="og:title" content="Escuela de Liderazgo">
    <meta property="og:description" content="brevis, barbatus clabulares aliquando convertam de dexter, peritus capio. devatio clemens habitio est.">
    <meta property="og:image" content="http://digipunk.netii.net/images/radar.gif">
    <meta property="og:url" content="http://digipunk.netii.net"> -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/components/base/base.css">
    <script src="/static/components/base/core.min.js"></script>
	<script src="/static/components/base/script.js"></script>
	<link rel="stylesheet" href="/static/components/main.css">
    {% block extra_css %}{% endblock extra_css %}
  </head>
  <body>
    <style>

        .eventos .post-img{
              height: 250px;
          }
        .sombra {
            background: rgb(0, 0, 0, 0.4);
            padding: 20px;
        }
        .big{
            font-size: 1.5rem;
        }
        
        .rd-navbar-fullwidth{
            z-index: 9999;
        }
        .rd-navbar-fullwidth-linked .rd-navbar-absolute-wrap{
            top: 20px;
        }

        .navbar-navigation-root-item .btn-primary{
            padding: 0.5125rem 1.5375rem;
            font-size: 0.875rem;
        }
    
        

        .rd-navbar-fullwidth-linked .rd-navbar-absolute-wrap .rd-navbar-fullwidth.rd-navbar--is-stuck{
            height:90px;
        }
        .rd-navbar-fullwidth.rd-navbar--is-stuck{
            height:100px;
        }

        

        .rd-navbar-fullwidth.rd-navbar--is-stuck .btn{
            background: #fff;
            color:#4F002B;
        }
        {% if request.path != '/' %}
        .rd-navbar-fullwidth .btn-primary{
            background-color: white;
            color:#4F002B;
        }
        {% endif %}
        @media (min-width: 1600px){

            .rd-navbar-fullwidth {
                height: 100px;
            }

        }
        @media (min-width: 1600px){
            .rd-navbar-fullwidth .navbar-navigation {
                margin: 40px 0px 0 -35px;
            }

        }


    </style>

    <div class="page">
      <!--RD Navbar-->

      	<header class="section {% if request.path == '/' %} rd-navbar-absolute-wrap{% else %}rd-navbar-wrap{% endif %}" data-preset='{"title":"Navbar Default","category":"header","reload":true,"id":"navbar-default"}'>
			<nav class="rd-navbar" data-rd-navbar='{"responsive":{"1200":{"stickUpOffset":"50px"}}}'>
				<div class="navbar-container">
					<div class="navbar-cell">
						<div class="navbar-panel">
							<button class="navbar-switch novi-icon custom-font-menu" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","isolate":"[data-multi-switch]"}'></button>
							<div class="navbar-logo"><a class="navbar-logo-link" href="/"><img class="navbar-logo-inverse" src="/static/img/logo/logo-blanco.png" alt="Teachzy" width="160" /></a></div>
						</div>
					</div>
					<div class="navbar-spacer"></div>

                    <div class="navbar-cell navbar-sidebar">
                        <!-- <ul class="prueba">
                            <li class="navbar-navigation-root-item"><a class="btn btn-primary" href="contact-us.html">Contáctenos</a>
                        </ul> -->
						<ul class="navbar-navigation rd-navbar-nav">

                                <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="{% url 'quienes-somos' %}">Quiénes somos?</a>
									{% comment %} <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
										<li class="navbar-navigation-back">
										<button class="navbar-navigation-back-btn">Atras</button>
										</li>
										<li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="#">Subsecion1</a>
										</li>
									</ul> {% endcomment %}
                                </li>

                                <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Noticias</a>
                                    <ul class="navbar-navigation-dropdown rd-navbar-dropdown">
										<li class="navbar-navigation-back">
										<button class="navbar-navigation-back-btn">Atras</button>
										</li>
										<li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="{% url 'lista-noticias' %}">Acontecimientos</a>
										</li>
										<li class="navbar-navigation-dropdown-item"><a class="navbar-navigation-dropdown-link" href="{% url 'lista-eventos' %}">Eventos</a>
									</ul>
                                </li>
                                <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="{% url 'lista-biblioteca' %}">Biblioteca</a>

                                </li>
                                <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="{% url 'lista-cursos' %}">Aprende</a>
                                </li>
                                <li class="navbar-navigation-root-item"><a class="navbar-navigation-root-link" href="#">Monitoreo</a>
                                </li>
                                <li class="navbar-navigation-root-item"><a class="btn btn-primary" href="/contactenos">Contáctenos</a>
								</li> 
                               


								</li>
						</ul>
					</div>
					<div class="navbar-spacer"></div>
					<!-- <div class="navbar-cell">
						<div class="navbar-subpanel">
							<div class="navbar-subpanel-item">
							<div class="navbar-search">
								<div class="navbar-search-container">
								<form class="navbar-search-form" action="search-results.html" method="GET" data-rd-search='{"output":".navbar-search-results","mode":"live","liveResults":3,"template":"<h5 class=\"search-title\"><a target=\"_top\" href=\"#{href}\" class=\"search-link\">#{title}</a></h5><p>...#{token}...</p>"}'>
									<input class="navbar-search-input" type="text" placeholder="Buscar..." autocomplete="off" name="s"/>
									<button class="navbar-search-btn custom-font-search novi-icon"></button>
									<button class="navbar-search-close search-switch custom-font-close novi-icon" type="button" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
								</form>
								</div>
							</div>
							<div class="navbar-search-results">No results</div>
							<button class="navbar-button search-switch custom-font-search" data-multi-switch='{"targets":".rd-navbar","scope":".rd-navbar","class":"navbar-search-active","isolate":"[data-multi-switch]:not(.search-switch)"}'></button>
							</div>
						</div>
					</div> -->
				</div>
			</nav>
      	</header>
		<!-- Swiper default-->
		{% block content %}{% endblock content %}

        <!-- Footer default-->
        <footer class="section footer">
            <div class="footer-top bg-300">
            <div class="container">
                <div class="row row-30">
                    <div class="col-6 col-md-4 main-logo">
                        <h5 class="footer-title">Iniciativa de</h5>
                        <img src="/static/img/logo/logo2.png" alt="">
                    </div>


                    <div class="col-6 col-md-4 main-logo ">
                        <h5 class="footer-title">Programa  de</h5>
                        <div class="">
                            <img src="/static/img/logo/logo-alianza.png" alt="" height="90px">

                        </div>

                    </div>

                    <div class="col-xs-6 col-md-4">
                        <h5 class="footer-title">Mantener contacto</h5>
                        <ul class="list list-icons">
                        <li class="list-item">
                            <div class="list-icon custom-font-pin"></div><a class="link link-inherit" href="#">
                                Reparto El Mirador Santo Domingo, del tanque de agua INAA 1C Norte, 1C Oeste, 19 vrs. Sur. Managua, Nicaragua.
                            </a>
                        </li>
                        <br>

                        <li class="list-item">
                            <div class="list-icon custom-font-email"></div><a class="link link-inherit" href="mailto:alianza@alianzamesoamericana.org">
                                alianza@alianzamesoamericana.org

                            </a>
                        </li>
                        <li class="list-item">
                            <div class="list-icon custom-font-phone"></div><span><span>Llámanos :

                            </span>
                                <a class="link link-inherit" href="tel:50522936339">+505 2293 6339</a>
                            </span>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            <div class="footer-bottom bg-700 context-dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Copyright-->
                    <p class="rights text-left" style="padding-top: 17px;"><span>&copy; 2020&nbsp;</span><span>
                        <a href="">AMPB</a></span><span>. Plataforma desarrollada por <a href="">SIMAS</a>.&nbsp;</span>
                    </p>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-div text-right">
                            <a href="https://facebook.com" class="icon-button facebook"><i class="fa fa-facebook-f"></i><span></span></a>
                            <a href="https://twitter.com" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
                            <a href="https://www.instagram.com/" class="icon-button instagram"><i class="fa fa-instagram"></i><span></span></a>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </footer>
    </div>
    <!-- Preloader-->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
        <div class="preloader-dot"></div>
      </div>
    </div>
    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
