{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block content %}
<section class="swiper-container swiper-1 context-dark text-center" data-swiper>
	<!-- Additional required wrapper-->
	<div class="swiper-wrapper">
	<!-- Slides-->
	{% for obj in banner %}
	<div class="swiper-slide section-md" style="{% thumbnail obj.foto "1920x998" crop="center" as im %}background-image: url({{im.url}}){% endthumbnail %}">
		<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-9 col-lg-8">
			<h1 class="prueba">{{obj.titulo}}</h1>
            <p class="big">{{obj.texto}}</p>
            <a class="btn btn-primary" href="{{obj.link}}">Leer más</a>
			</div>
		</div>
		</div>
	</div>
    {% endfor %}
	<!-- Pagination-->
	<div class="swiper-pagination"></div>
</section>
<!-- Blurb default-->
<section class="section-md bg-transparent text-center">
	<div class="container">
	<div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>
		
		<h3>Escuela Mesoamericana de Liderazgo</h3>
		<h5 class="text-primary">"Aprendiendo y Transformando"</h5>
		<!-- <p class="big">Teachzy offers students the best of education and entertainment opportunities available in the area. We are glad to take care of every student and university entrant.</p> -->
	</div>
	<div class="row row-30 justify-content-center mb-4">
		<div class="col-xs-10 col-sm-6">
			<!-- Post-->
			<div class="post" data-animate='{"class":"fadeIn"}'>
				<a class="post-media" href="single-post.html">
					<img class="post-img" src="img/fotos/info3.jpg" alt="" width="570" height="380"/>
				</a>
									
			</div>
		</div>
		<div class="col-xs-10 col-sm-6">
			<!-- <h5 class="text-primary">Popular</h5> -->
			<!-- Post-->
			<div class="post" data-animate='{"class":"fadeInUp"}'>
				<div class="post-title h6"><a href="single-post.html">
					¿Qué es la Escuela Mesoamericana de Liderazgo de la AMPB?
				</a></div>
				<div class="post-text mb-2">
					<p>
                        Es un programa de formación de jóvenes líderes que apunte a superar los conocimientos deficitarios del ámbito 
                        político-organizativo, preparar un relevo, construir escenarios futuros y desarrollar capacidades técnicas
					</p>
				</div>
				<div class="row">
					<div class="col-5 ">
						<a class="btn btn-primary" href="/quienes-somos/">Conócenos</a>
					</div>
					<div class="col-7">
						<div class="social-div text-right">
							<a href="https://facebook.com" class="icon-button facebook"><i class="fa fa-facebook-f"></i><span></span></a>
							<a href="https://twitter.com" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
							<a href="https://www.instagram.com/" class="icon-button instagram"><i class="fa fa-instagram"></i><span></span></a>
						</div>
					</div>
				</div>
				
				
			</div>

		</div>
	</div>
	<div class="row row-30 justify-content-center">
		<div class="col-sm-6 col-md-4">
			<!-- Blurb-->
			<article class="blurb blurb-2" data-animate='{"class":"fadeInUp","delay":".3s"}'>
			<div class="icon blurb-icon custom-font-school"></div>
			<div class="blurb-title h4">Currícula </div>
			<div class="blurb-text big">
				<p>
					Formar una nueva generación de líderes con conocimientos y dominio de competencias
				</p>
			</div>
			</article>
		</div>
		
		<div class="col-sm-6 col-md-4">
				<!-- Blurb-->
				<article class="blurb blurb-2" data-animate='{"class":"fadeInUp","delay":".15s"}'>
				<div class="icon blurb-icon custom-font-degree"></div>
				<div class="blurb-title h4">Método</div>
				<div class="blurb-text big">
					<p>
						Educación Popular y Pedagogía de la Alternancia, enfatizando en la evaluación e investigación.
					</p>
				</div>
				</article>
		</div>
		<div class="col-sm-6 col-md-4">
			<!-- Blurb-->
			<article class="blurb blurb-2" data-animate='{"class":"fadeInUp"}'>
			<div class="icon blurb-icon custom-font-online-course"></div>
			<div class="blurb-title h4">Formación</div>
			<div class="blurb-text big">
				<p>
					Pesencial y semipresencial, con temas de interés y específicos para el liderazgo juvenil.
				</p>
			</div>
			</article>
		</div>
		
	</div>
	</div>
</section>
<!-- Price box-->
<section class="section-md bg-300 text-center">
	<div class="container">
		<div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>
			<h3>Actualidad</h3>
			<h5 class="text-primary">Informáte de las últimas acciones de la Escuela Mesoamericana</h5>
		</div>
		<div class="owl-carousel owl-content-1 noticias" data-owl="{&quot;dots&quot;:true}" data-loop="false" data-items="1" data-sm-items="2" data-md-items="3" data-lg-items="3">
			{% for obj in actualidad %}
            <!-- Post-->
			<div class="post post-responsive post-responsive-1">
				<a class="post-media" href="">
                {% if obj.foto %}
                    {% thumbnail obj.foto "600x400" crop="center" as im %}
                        <img class="post-img" src="{{im.url}}" alt="" />
                    {% endthumbnail %}
                {% elif obj.video %}
                {% video obj.video as my_video %}
                    {% thumbnail my_video.thumbnail "600x400" crop="center" as im %}
                        <img class="post-img" src="{{im.url}}" alt="" />
                    {% endthumbnail %}
                {% endvideo %}
                {% else %}
                    <img class="post-img" src="http://via.placeholder.com/600x400" alt="" />
                {% endif %}
                
                
				</a>
				<div class="post-meta">
					<div class="post-meta-item">
					<div class="post-meta-icon fa fa-calendar"></div>
					<div class="post-date">{{obj.fecha|date:'d F Y'}}</div>
					</div>
					<div class="post-meta-item">
					<div class="post-meta-icon fa fa-globe"></div>
					<div class="post-comment">{{obj.escuela.pais}}</div>
					</div>
				</div>
				<div class="post-title h6">
					<a href="" class="text-limit">
						{{obj.contenido|safe|striptags|truncatechars:80}}
					</a>
				</div>
			</div>
            {% endfor %}
			
        </div>
        <div class="mt-4">
            <a class="btn btn-primary" href="">Todas las noticias</a>
        </div>
	</div>
</section>
<!-- Counters-->
<section class="section-lg bg-primary bg-image-wrap context-dark text-center text-md-left">
    
    <div class="bg-image-wrap-item bg-image" style="background-image:url(img/noticia/bg.jpg);"></div>
    <div class="container">
    <div class="row">
        <div class="col-lg-7">
        <div class="pr-xxl-5">
            <h2>Su educación, el futuro</h2>
            <p class="big">Así avanzamos en la construcción del nuevo liderazgo</p>
            <div class="row row-30 row-lg-55">
            <div class="col-6 col-sm-3 col-md-6">
                    <!-- Blurb side-->
                    <article class="blurb blurb-side">
                        <div class="blurb-item">
                        <div class="icon blurb-icon custom-font-graduated"></div>
                        </div>
                        <div class="blurb-body">
                        <div class="blurb-counter-value h2"><span data-counter="">697</span>
                        </div>
                        <div class="blurb-title h4">Estudiantes </div>
                        </div>
                    </article>
            </div>
            <div class="col-6 col-sm-3 col-md-6">
                    <!-- Blurb side-->
                    <article class="blurb blurb-side">
                        <div class="blurb-item">
                        <div class="icon blurb-icon custom-font-male-teacher"></div>
                        </div>
                        <div class="blurb-body">
                        <div class="blurb-counter-value h2"><span data-counter="">50</span>
                        </div>
                        <div class="blurb-title h4">Docentes</div>
                        </div>
                    </article>
            </div>
            <div class="col-6 col-sm-3 col-md-6">
                    <!-- Blurb side-->
                    <article class="blurb blurb-side">
                        <div class="blurb-item">
                        <div class="icon blurb-icon custom-font-student-at-desk"></div>
                        </div>
                        <div class="blurb-body">
                        <div class="blurb-counter-value h2"><span data-counter="">260</span>
                        </div>
                        <div class="blurb-title h4">Mujeres jóvenes</div>
                        </div>
                    </article>
            </div>
            <div class="col-6 col-sm-3 col-md-6">
                    <!-- Blurb side-->
                    <article class="blurb blurb-side">
                        <div class="blurb-item">
                        <div class="icon blurb-icon custom-font-university"></div>
                        </div>
                        <div class="blurb-body">
                        <div class="blurb-counter-value h2"><span data-counter="">10</span><span class="counter-postfix">+</span>
                        </div>
                        <div class="blurb-title h4">Iniciativas en territorio</div>
                        </div>
                    </article>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
<!-- Post event-->
<section class="section-md bg-white text-center eventos">
    <div class="container">
        
    
        <div class="row row-30 justify-content-center">
            <div class="col-xs-8 col-sm-6 col-md-4">
                    <div class="text-block text-block-1 text-left" data-animate='{"class":"fadeIn"}'>
                        <!-- <h5 class="text-primary">Don’t miss anything</h5> -->
                        <h4>Próximos Eventos</h4>
                        <!-- <p class="big">Every week, we organize a variety of events for our students and undergraduates. From webinars to creative events, there are activities that are always worth your attention.</p> -->
                    </div>
                    <!-- Post event-->
                    <div class="post post-event" data-animate='{"class":"fadeInUp"}'>
                        <a class="post-media" href="single-post.html">
                            <img class="post-img" src="img/noticia/3.jpg" alt="" height="240px"/>
                            <div class="post-date">
                            <div class="post-day">31</div>
                            <div class="post-month">Ago</div>
                            </div>
                        </a>
                        <div class="post-heading h5">
                            <div class="post-title">
                                <a href="single-post.html">
                                    VII Congreso Territorial Mesoamericano 
                                </a>
                            </div>
                            
                        </div>
                        <div class="post-meta post-meta-vertical big">
                            <div class="post-meta-item">
                            <div class="post-meta-icon custom-font-clock"></div>
                            <div class="post-time">12:00 am - 2:00 pm</div>
                            </div>
                            <div class="post-meta-item">
                            <div class="post-meta-icon custom-font-pin"></div>
                            <div class="post-location">Ciudad Panamá, Panamá</div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-8">
                <div class="text-block text-block-1 text-left" data-animate='{"class":"fadeIn"}'>
                    <!-- <h5 class="text-primary">Don’t miss anything</h5> -->
                    <h4>Nuestras Iniciativas</h4>
                    <!-- <p class="big">Every week, we organize a variety of events for our students and undergraduates. From webinars to creative events, there are activities that are always worth your attention.</p> -->
                </div>
                <div class="post">
                    <iframe class="" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7910820.895424874!2d-92.73651578857562!3d14.501587326061514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sni!4v1598212347535!5m2!1ses!2sni" 
                width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                    
                
                
            </div>

                        
        </div>
    </div>
</section>

<!-- Testimonials-->
<section class="section-md bg-300 text-center">
    <div class="container">
    <div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>
        <h2>Liderazgo</h2>
        <!-- <p class="big">Want to know more about our university? The feedback submitted by our students is an effective way to show how beneficial the studying at Teachzy university can be.</p> -->
    </div>
    <div class="slick-person-container">
        <div class="slick-slider slick-person-img slider-nav" data-slick='{"slidesToShow":3,"arrows":false,"asNavFor":".slider-for","focusOnSelect":true,"centerMode":true,"centerPadding":"0px"}'>
        <div class="slick-content"><img src="img/avatar/2.jpg" alt="" width="150" height="150"/>
        </div>
        <div class="slick-content"><img src="img/avatar/1.jpg" alt="" width="150" height="150"/>
        </div>
        
        <div class="slick-content"><img src="img/avatar/3.jpg" alt="" width="150" height="150"/>
        </div>
        <div class="slick-content"><img src="img/avatar/4.jpg" alt="" width="150" height="150"/>
        </div>
        
        </div>
        <div class="slick-slider slick-person-content slider-for" data-slick='{"arrows":true,"asNavFor":".slider-nav","autoplay":true,"autoplaySpeed":5000,"fade":true}'>
            <div class="slick-content">
                <!-- Quote-->
                <blockquote class="quote quote-simple">
                    <q class="quote-text">Los contenidos nos ayudan a reforzar aquellos temas que desconocemos y nos va a permitir empoderarnos de nuestra cultura</q>
                    <cite class="quote-cite h6">Marvin Solis</cite>
                    <div class="quote-meta">Guatemala</div>
                </blockquote>
            </div>
            <div class="slick-content">
                <!-- Quote-->
                <blockquote class="quote quote-simple">
                    <q class="quote-text">Con la escuela de formación, me ayuda a entender más mi cultura y mis derechos....los jovenes tenemos igual derecho que cualquiera</q>
                    <cite class="quote-cite h6">Reyna Perez</cite>
                    <div class="quote-meta">Costa Rica</div>
                </blockquote>
            </div>
            <div class="slick-content">
                <!-- Quote-->
                <blockquote class="quote quote-simple">
                    <q class="quote-text">La educación es una inversión para salir de la ignorancia porque mucha cosas que no dominamos, las dejamos en el misterio sin saber que la ciencia ya encontró una explicación</q>
                    <cite class="quote-cite h6">Alonso Galvez</cite>
                    <div class="quote-meta">Honduras</div>
                </blockquote>
            </div>
            <div class="slick-content">
                <!-- Quote-->
                <blockquote class="quote quote-simple">
                    <q class="quote-text">Con la escuela de formación, me ayuda a entender más mi cultura y mis derechos....los jovenes tenemos igual derecho que cualquiera</q>
                    <cite class="quote-cite h6">Reyna Perez</cite>
                    <div class="quote-meta">Costa Rica</div>
                </blockquote>
            </div>

        </div>
    </div>
    </div>
</section>


<!-- Gallery-->
<section class="section-md context-dark bg-layer text-center">
    <div class="bg-layer-item bg-primary" style="bottom: 62%"></div>
    <div class="container">
        <h2>Galería de imágenes</h2>
        <div class="row no-gutters justify-content-center" data-lightgallery>
            <div class="col-6 col-xs-5 col-md-4">
                <!-- Thumbnail gallery-->
                <div class="thumbnail thumbnail-gallery">
                    <a class="thumbnail-media lightgallery-item" href="img/galeria/1.jpg">
                        <img class="thumbnail-img" src="img/galeria/10.jpg" alt="" width="390" height="390"/>
                        <div class="thumbnail-media-caption">
                            <div class="thumbnail-media-icon custom-font-maximize"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-xs-5 col-md-4">
                <!-- Thumbnail gallery-->
                <div class="thumbnail thumbnail-gallery">
                    <a class="thumbnail-media lightgallery-item" href="img/galeria/2.jpg">
                        <img class="thumbnail-img" src="img/galeria/11.jpg" alt="" width="390" height="390"/>
                        <div class="thumbnail-media-caption">
                            <div class="thumbnail-media-icon custom-font-maximize"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-xs-5 col-md-4">
                <!-- Thumbnail gallery-->
                <div class="thumbnail thumbnail-gallery">
                    <a class="thumbnail-media lightgallery-item" href="img/galeria/3.jpg">
                        <img class="thumbnail-img" src="img/galeria/12.jpg" alt="" width="390" height="390"/>
                        <div class="thumbnail-media-caption">
                            <div class="thumbnail-media-icon custom-font-maximize"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-xs-5 col-md-4">
                <!-- Thumbnail gallery-->
                <div class="thumbnail thumbnail-gallery">
                    <a class="thumbnail-media lightgallery-item" href="img/galeria/4.jpg">
                        <img class="thumbnail-img" src="img/galeria/13.jpg" alt="" width="390" height="390"/>
                        <div class="thumbnail-media-caption">
                            <div class="thumbnail-media-icon custom-font-maximize"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-xs-5 col-md-4">
                <!-- Thumbnail gallery-->
                <div class="thumbnail thumbnail-gallery">
                    <a class="thumbnail-media lightgallery-item" href="img/galeria/5.jpg">
                        <img class="thumbnail-img" src="img/galeria/14.jpg" alt="" width="390" height="390"/>
                        <div class="thumbnail-media-caption">
                            <div class="thumbnail-media-icon custom-font-maximize"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-xs-5 col-md-4">
                <!-- Thumbnail gallery-->
                <div class="thumbnail thumbnail-gallery">
                    <a class="thumbnail-media lightgallery-item" href="img/galeria/6.jpg">
                        <img class="thumbnail-img" src="img/galeria/15.jpg" alt="" width="390" height="390"/>
                        <div class="thumbnail-media-caption">
                            <div class="thumbnail-media-icon custom-font-maximize"></div>
                        </div>
                    </a>
                </div>
            </div>


            

        </div>
    </div>
</section>
{% endblock content %}