{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load leaflet_tags %}
{% load solo_tags %}

{% block extra_css %}
{% leaflet_js %}
{% leaflet_css %}
<style>

    #mapid, .map-container{height: 100%;}
    .pr-xxl-5{padding-left:80px;}
    .map-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    }

</style>
{% endblock extra_css %}

{% block content %}

<section class="swiper-container swiper-1 context-dark text-center" data-swiper>
    <!-- Additional required wrapper-->
    <div class="swiper-wrapper">
    <!-- Slides-->

        {% for obj in banner %}
            <div class="swiper-slide section-md" {% thumbnail obj.foto "1920x998" crop="center" as im %} style="background-image: url({{im.url}})"{% endthumbnail %}>
                <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-9">
                    <div class="sombra">
                        <h1 class=>Experiencias de Liderazgo</h1>
                        <p class="big">{{obj.texto}}</p>
                    </div>
                    {% if obj.link %}
                        <a class="btn btn-primary" href="{{obj.link}}">Leer más</a>
                    {% endif %}
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <!-- Pagination-->
    <div class="swiper-pagination"></div>
</section>


<!--Introduccion-->
<section class="section-md bg-transparent text-center">
    {% get_solo 'configuracion.Introduccion' as intro %}
    <div class="container">
        <div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>

            <h3 class="text-primary">{{intro.titulo}}</h3>
            <h5 class="text-gris">{{intro.subtitulo}}</h5>
            <!-- <p class="big">Teachzy offers students the best of education and entertainment opportunities available in the area. We are glad to take care of every student and university entrant.</p> -->
        </div>
        <div class="row row-30 justify-content-center mb-4">
            <div class="col-sm-12 col-md-6">
                <!-- Post-->
                {% if intro.imagen and not intro.video %}
                    {% thumbnail intro.imagen "1000" crop="center" as im %}
                        <img class="post-img" src="{{im.url}}" alt="" />
                    {% endthumbnail %}
                {% elif intro.video %}
                  {% video intro.video '100% x 300' %}
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-6">
                <!-- <h5 class="text-primary">Popular</h5> -->
                <!-- Post-->
                <div class="post" data-animate='{"class":"fadeInUp"}'>
                    <!--<div class="post-title h6"><a href="single-post.html">
                        ¿Qué es la Escuela Mesoamericana de Liderazgo de la AMPB?
                    </a></div>-->
                    <div class="post-text mb-2">
                        <p>
                            {{intro.texto}}
                        </p>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md align-self-center">
                            <a class="btn btn-primary m-4" href="{% url 'quienes-somos' %}">Conócenos</a>
                        </div>
                        <div class="col-md-auto align-self-center">
                            <div class="social-div text-right">
                                <a href="https://facebook.com" class="icon-button facebook"><i class="fa fa-facebook-f"></i><span></span></a>
                                <a href="https://twitter.com" class="icon-button twitter"><i class="fa fa-twitter"></i><span></span></a>
                                <a href="https://www.instagram.com/" class="icon-button instagram"><i class="fa fa-instagram"></i><span></span></a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</section>

<!-- Monitoreo-->

<section class="bg-secondary bg-image-wrap context-dark text-center text-md-left ">

    <div class="container-fluid">
        <div class="row">
            <div class="section-lg col-lg-7 " id="prueid">
                <div class="pr-xxl-5">
                    <h2>Su educación, el futuro</h2>
                    <p class="big">Así avanzamos en la construcción del nuevo liderazgo</p>
                    <div class="row row-30 row-lg-55">
                    <div class="col-6 col-sm-6 col-md-6">
                            <!-- Blurb side-->
                            <article class="blurb blurb-side">
                                <div class="blurb-item">
                                <!-- <div class="icon blurb-icon custom-font-graduated"></div> -->
                                <img src="/static/img/editados/Estudiantes op.1.png" alt="" width="80px">
                                </div>
                                <div class="blurb-body">
                                <div class="blurb-counter-value h2"><span data-counter="">697</span>
                                </div>
                                <div class="blurb-title h4">Estudiantes </div>
                                </div>
                            </article>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6">
                            <!-- Blurb side-->
                            <article class="blurb blurb-side">
                                <div class="blurb-item">
                                <!-- <div class="icon blurb-icon custom-font-male-teacher"></div> -->
                                <img src="/static/img/editados/Docentes op.1.png" alt="" width="80px">
                                </div>
                                <div class="blurb-body">
                                <div class="blurb-counter-value h2"><span data-counter="">50</span>
                                </div>
                                <div class="blurb-title h4">Docentes</div>
                                </div>
                            </article>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6">
                            <!-- Blurb side-->
                            <article class="blurb blurb-side">
                                <div class="blurb-item">
                                <!-- <div class="icon blurb-icon custom-font-student-at-desk"></div> -->
                                <img src="/static/img/editados/Mujeres jóvenes op.1.png" alt="" width="80px">
                                </div>
                                <div class="blurb-body">
                                <div class="blurb-counter-value h2"><span data-counter="">260</span>
                                </div>
                                <div class="blurb-title h4">Mujeres jóvenes</div>
                                </div>
                            </article>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6">
                            <!-- Blurb side-->
                            <article class="blurb blurb-side">
                                <div class="blurb-item">
                                <!-- <div class="icon blurb-icon custom-font-university"></div> -->
                                <img src="/static/img/editados/iniciativas territoriales op.3.png" alt="" width="130px">
                                </div>
                                <div class="blurb-body">
                                <div class="blurb-counter-value h2"><span data-counter="">10</span><span class="counter-postfix">+</span>
                                </div>
                                <div class="blurb-title h4">Iniciativas en territorio</div>
                                </div>
                            </article>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 p-0">
                <div class="map-container" >
                    {% leaflet_map "mapid" %}
                </div>
            </div>
        </div>
    </div>


</section>

<!--Noticias-->
<section class="section-md bg-white text-center">
	<div class="container">
		<div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>
			<h3 class="text-primary">Acontecimientos</h3>
			<h5 class="text-gris">Informáte de las últimas acciones de la Escuela Mesoamericana</h5>
		</div>
		<div class="owl-carousel owl-content-1 noticias" data-owl="{&quot;dots&quot;:true}" data-loop="false" data-items="1" data-sm-items="2" data-md-items="2" data-lg-items="3">
			{% for obj in actualidad %}
            <!-- Post-->
			<div class="post post-responsive post-responsive-1">
				<a class="post-media" href="{% url 'detalle-noticia' obj.slug %}">
                {% if obj.foto %}
                    {% thumbnail obj.foto "600x400" crop="center" as im %}
                        <img class="post-img" src="{{im.url}}" alt="" />
                    {% endthumbnail %}
                {% elif obj.video %}
                {% video obj.video as my_video %}
                    {% thumbnail my_video.thumbnail "600x400" crop="center" as im %}
                        <img class="post-img" src="{{im.url}}" alt="" />
                    {% endthumbnail %}
                {% endvideo %}
                {% else %}
                    <img class="post-img" src="http://via.placeholder.com/600x400" alt="" />
                {% endif %}
				</a>
                <div class="content-news">
                    <div class="post-meta">
                        <div class="post-meta-item">
                        <div class="post-meta-icon fa fa-calendar"></div>
                        <div class="post-date">{{obj.fecha|date:'d F Y'}}</div>
                        </div>
                        <div class="post-meta-item">
                        <div class="post-meta-icon fa fa-globe"></div>
                        <div class="post-comment">{{obj.escuela.pais}}</div>
                        </div>
                    </div>
                    <div class="post-title h6">
                        <a href="{% url 'detalle-noticia' obj.slug %}" class="text-limit">
                            {{obj.titulo}}
                        </a>
                    </div>
                </div>
				
			</div>
            {% endfor %}

        </div>
        <div class="mt-5">
            <a class="btn btn-primary" href="{% url 'lista-noticias' %}">Todas las noticias</a>
        </div>
	</div>
</section>


<!-- Post event-->
{% comment %} <section class="section-md bg-300 text-center">
    <div class="container">
        <div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>
            <h2 class="text-primary">Próximos Eventos</h2>
        </div>
        <div class="row row-30 justify-content-center">
            {% for obj in eventos %}
            <div class="col-xs-8 col-sm-6 col-md-4">
                    <!-- Post event-->
                    <div class="post post-event" data-animate='{"class":"fadeInUp"}'>
                        <a class="post-media" href="{% url 'detalle-evento' obj.slug %}">
                            {% thumbnail obj.foto "600x400" crop="center" as im %}
                                <img class="post-img" src="{{im.url}}" alt=""/>
                            {% endthumbnail %}
                            <div class="post-date">
                                <div class="post-day">{{obj.inicio|date:'d'}}</div>
                                <div class="post-month">{{obj.inicio|date:'M'}}</div>
                            </div>
                        </a>


                        <div class="post-heading h5">
                            <div class="post-title"><a href="{% url 'detalle-evento' obj.slug %}">{{obj.titulo|truncatechars:80}}</a></div>
                        </div>
                        <div class="post-meta post-meta-vertical big">
                            <div class="post-meta-item">
                                <div class="post-meta-icon custom-font-clock"></div>
                                <div class="post-time">{{obj.hora_inicio|time:'h:i a'}} - {{obj.hora_fin|time:'h:i a'}}</div>
                            </div>
                            <br>
                            <div class="post-meta-item">
                                <div class="post-meta-icon custom-font-pin"></div>
                                <div class="post-location">{{obj.lugar}}</div>
                            </div>
                        </div>

                    </div>
            </div>
            {% endfor %}

        </div>
        <div class="mt-5">
            <a class="btn btn-primary" href="/eventos/">Todos los eventos</a>
        </div>
    </div>
</section> {% endcomment %}

<section class="section-md bg-verde text-center">
    <div class="container">
        <div class="text-block text-block-1" data-animate='{"class":"fadeIn"}'>
            <h2 class="text-white">Próximos Eventos</h2>
        </div>
        <div class="row row-30 justify-content-center">
            {% for obj in eventos %}
            <div class="col-xs-8 col-sm-6 col-md-4">
                    <!-- Post event-->
                    <div class="post post-event" data-animate='{"class":"fadeInUp"}'>
                        <a class="post-media" href="{% url 'detalle-evento' obj.slug %}">
                            {% thumbnail obj.foto "600x400" crop="center" as im %}
                                <img class="post-img" src="{{im.url}}" alt=""/>
                            {% endthumbnail %}
                            <div class="post-date">
                                <div class="post-day">{{obj.inicio|date:'d'}}</div>
                                <div class="post-month">{{obj.inicio|date:'M'}}</div>
                            </div>
                        </a>

                        <div class="content-event">
                            <div class="post-heading h5">
                                <div class="post-title"><a href="{% url 'detalle-evento' obj.slug %}">{{obj.titulo|truncatechars:80}}</a></div>
                            </div>
                            <div class="post-meta post-meta-vertical big">
                                <div class="post-meta-item">
                                    <div class="post-meta-icon custom-font-clock"></div>
                                    <div class="post-time">{{obj.hora_inicio|time:'h:i a'}} - {{obj.hora_fin|time:'h:i a'}}</div>
                                </div>
                                <br>
                                <div class="post-meta-item">
                                    <div class="post-meta-icon custom-font-pin"></div>
                                    <div class="post-location">{{obj.lugar}}</div>
                                </div>
                            </div>
                        </div>
                        
                        

                    </div>
            </div>
            {% endfor %}

        </div>
        <div class="mt-5">
            <a class="btn btn-primary" href="/eventos/">Todos los eventos</a>
        </div>
    </div>
</section>

<!-- Lideres-->
<section class="section-md bg-white text-center">
    <div class="container">
        <div class="slick-person-container">
            <div class="slick-slider slick-person-img slider-nav" data-slick='{"slidesToShow":3,"arrows":false,"asNavFor":".slider-for","focusOnSelect":true,"centerMode":true,"centerPadding":"0px"}'>
                {% for obj in liderazgos %}
                {% thumbnail obj.foto "150x150" crop="center" as im %}
                <div class="slick-content"><img src="{{im.url}}" alt="" width="150" height="150"/>
                </div>
                {% endthumbnail %}
                {% endfor %}
            </div>
            <div class="slick-slider slick-person-content slider-for" data-slick='{"arrows":true,"asNavFor":".slider-nav","autoplay":true,"autoplaySpeed":5000,"fade":true}'>
                {% for obj in liderazgos %}
                <div class="slick-content">
                    <!-- Quote-->
                    <blockquote class="quote quote-simple">
                        <q class="quote-text">{{obj.texto}}</q>
                        <cite class="quote-cite h6">{{obj.nombre}}</cite>
                        <div class="quote-meta">{{obj.escuela.pais}}</div>
                    </blockquote>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock content %}

{% block extra_js %}

<script>
    //alert($("#mapid").innerHeight());

    //var result = $("#prueid").height();

    //alert(result);
    //$('#mapid').height(result);

    var map = L.map('mapid').setView([12.8654156, -85.2072296], 7);
    mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
        }).addTo(map);
</script>
{% endblock extra_js %}
