{% extends "base.html" %}

{% block content %}
<section class="section breadcrumb-section">
    <div class="container">
        <!-- Breadcrumb-->
        <div class="breadcrumb">
            <div class="breadcrumb-inner">
                <div class="breadcrumb-item"><a class="breadcrumb-link" href="/">Inicio</a></div>
                <div class="breadcrumb-item"><span class="breadcrumb-text breadcrumb-active">Quiénes somos?</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-md bg-transparent curso" >
    <div class="container"  >
        <div class="row row-30">
            <div class="col-md-3">
                <div class="panel-group sticky">
                    <div class="list-group mb-0 ">
                        {% for obj in object_list %}
                        <a class="list-group-item scroll-to" href="#qs_{{obj.slug}}">{{obj.titulo}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% for obj in object_list %}
                <div class="post" id="qs_{{obj.slug}}">
                    <div class="post-title h4 mb-2 text-primary">{{obj.titulo}}</div>
                    <hr>
                    <div class="post-text">
                        {{obj.texto|safe}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock content %}
{% block extra_js %}

<script>
    $(document).ready(function () {
        $('.scroll-to').click(function() {
            var addressValue = $(this).attr("href");
            $('.scroll-to').removeClass('active');
            $(this).addClass('active');
            $('html, body').animate({
                scrollTop: $(addressValue).offset().top-130
            }, 800)


        })
    });
</script>

{% endblock extra_js %}
